<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EVO Devices.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BB6A9E52625C3410063F378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BB6A9F62625C38E0063F378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BB6AA012625C38E0063F378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
